@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');

@font-face {
  font-family: 'tvN-Enjoystories';
  /* 폰트이름 수정 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  background-color: #5B2386;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  font-size: 16px;
  font-family: 'Gmarket Sans', sans-serif;
  font-weight: 400;

  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.logo img {
  margin-top: 20%;
  max-width: 564px;
}

header p {
  font-size: 36px;
  font-family: 'tvN-Enjoystories', serif;
  color: #F5DF4D;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.definition {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.definition p,
.definition dfn {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.definition dfn {
  font-weight: 700;
  font-size: 24px;
}

.goal-survey {
  text-align: center;
}

.goal-survey p,
.goal-survey p span {
  font-size: 24px;
}

.goal-survey p input {
  max-width: 148px;
  height: 24px;

  padding: 16px 40px;
  margin: 10px 10px;
  border-radius: 8px;
  
  font-size: 24px;
  text-align: center;
}

#job::placeholder,
#hour::placeholder {
  color: #BABCBE;
}

.goal-survey button,
.goal-survey button span,
.link-share li a {
  color: #5B2386;
  font-weight: 700;
  font-size: 24px;
}

.goal-survey button{
  margin-top: 120px;
  border-radius: 12px;
  padding: 20px 50px;

  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #FCEE21;

  position: relative;
}

.goal-survey button img {
  position: absolute;
  transform: translateX(90%);
}

.result {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result p{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 12px;

  font-size: 24px;
  line-height: 72px;
} 

.result p strong{
  font-size: 72px;
} 

.link-share {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.link-share li a{
  display: block;
  padding: 20px 50px;
}

.link-share li:first-child,
.link-share li:last-child {
  border-radius: 12px;
}

.link-share li:first-child {
  background-color: #FCEE21;
}

.link-share li:last-child {
  background-color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  margin-top: 40px;
}

.footer-logo img {
  max-width: 168px;
}

footer p{
  text-align: center;
  margin-bottom: 100px;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

.ad-overlay-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000008a;
}

.ad-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: clamp(600px, 50% ,800px);
  height: 816px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
}

.ad-overlay p:nth-of-type(2) {
  margin-top: -20px;
}

.ad-overlay p,
.ad-overlay .sr-noword  {
  color: #5B2386;
  font-family: "tvN-Enjoystories";
}

.ad-overlay p:first-child,
.ad-overlay .sr-noword {
  font-size: 96px;
}

.ad-overlay p {
  font-size: 36px;
}

.ad-overlay a {
  text-align: center;
  margin-top: 40px;
  padding: 20px 50px;
  border-radius: 12px;

  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
  background: #FCEE21;
  color: #5B2386;
}

.ad-overlay a ,
.ad-overlay span {
  max-width: 410px;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 800px) {
  .line-break {
    display: inline-block;
  }

  .sr-noword {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  body {
    gap: 32px;
  }

  .logo img {
    max-width: 278px;
  }

  header {
    gap: 32px;
  }
  
  header p {
    font-size: 24px;
  }

  main {
    gap: 52px;
  }

  .definition{
    gap: 0;
  }

  .definition img {
    max-width: 20px;
    max-height: 18px;
  }

  .definition p {
    margin-bottom: 8px;
  }

  .definition p,
  .definition dfn {
    font-size: 14px;
  }

  .definition dfn {
    font-weight: 500;
  }

  .goal-survey p,
  .goal-survey p span {
    font-size: 14px;
  }

  .goal-survey p input {
    padding: 12px 40px;
    max-width: 86px;
    max-height: 14px;
    font-size: 14px;
  }

  .goal-survey button,
  .goal-survey button span,
  .link-share li a  {
    font-size: 14px;
  }

  .goal-survey button {
    margin-top: 80px;
    margin-bottom: 16px;
    max-width: 240px;
  }

  .goal-survey button img {
    max-width: 43px;
    right: -5%;
  }

  .result {
    gap: 16px;
  }

  .result p {
    font-size: 12px;
    line-height: 24px;
  }

  .result p strong {
    font-size: 24px;
    font-weight: 500;
  }

  .link-share {
    gap: 8px;
  }

  .link-share li a {
    padding: 16px 24px;
  }

  footer {
    gap: 12px;
  }

  .footer-logo img {
    max-width: 118px;
  }
  
  footer p{
    margin-bottom: 40px;
    font-size: 9px;
  }

  .ad-overlay img {
    max-width: 240px;
  }

  .ad-overlay {
    padding: 40px 42px;
    width: clamp(240px, 50% ,600px);
    max-height: 416px;
  }

  .ad-overlay a {
    padding: 20px 0;
    margin-top: 24px;
  }

  .ad-overlay a,
  .ad-overlay span  {
    width: 240px;
    font-size: 14px;
  }

  .ad-overlay p:first-child {
    font-size: 64px;
  }

  .ad-overlay p:nth-child(2) {
    font-size: 36px;
  }
}
